version: "3.9"

services:
  db:
    image: postgres:15
    container_name: chat-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"
    volumes:
      - chat_postgres_data:/var/lib/postgresql/data

  nest-api:
    build:
      context: .
      target: dev   # використовуємо dev-стадію Dockerfile
    container_name: chat-api
    restart: on-failure
    env_file: .env
    depends_on:
      - db
    ports:
      - "3001:3001"
    volumes:
      - ./:/app          # bind mount всього коду для hot reload
      - /app/node_modules # щоб node_modules залишались в контейнері і не переписувались bind mount
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm run start:dev"

volumes:
  chat_postgres_data:


